@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #d41443;
  --text-before-title-color: #ffa5ba;
  --text-content-primary-color: #000000;
  --text-content-secondary-color: #907e82;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #fff5f6;
  --bg-hero-primary-color: #ffb8ca;
  --bg-hero-secondary-color: #ffa5ba;
  --bg-menu-color: #e17992;
  --bg-item-menu-color: #e18298;
  --bg-product1-color: #ffb8ca;
  --bg-product2-color: #f0d1a5;
  --bg-product3-color: #c2e297;
  --bg-social-color: #fea5bb;
  --bg-social-hover-color: #d41443;
  --bg-reviews-color: #fafafa;
  --dots-reviews-color: #d9d9d9;
  --btn-bg-primary-color: #ffffff;
  --btn-bg-secondary-color: #d41443;
  --btn-bg-hover-primary-color: #ecebeb;
  --btn-bg-hover-secondary-color: #c7133e;
  --border-primary: 1px solid #e1e1e1;
  --shadow-primary: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Titan One", cursive;
  --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* визуальное скрытие блока */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* сброс марджинов и паддингов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

/* Общий CSS - начало */
body {
  font-size: 12px;
  line-height: 1.5833333333;
  font-weight: 500;
  font-family: var(--font-primary);
  color: var(--text-content-primary-color);
  background-color: var(--bg-primary-color);
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

.overlay {
  width: 100vw;
  background-color: var(--bg-hero-primary-color);
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero__wrap {
  padding: 194px 0px 202px 20px;
}

.hero__title {
  width: 218px;
  margin-bottom: 24px;
  color: var(--text-primary-color);
  font-size: 26px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}
.hero__title span {
  color: var(--text-secondary-color);
  font-size: 48px;
  line-height: 0.965;
  font-weight: 400;
  font-family: var(--font-secondary);
}
.hero__title::after {
  content: " ";
  position: absolute;
  z-index: -2;
  width: 346px;
  height: 344px;
  top: 0px;
  left: 0px;
  transform: translate(18%, 22%);
  border-radius: 50%;
  background-color: var(--bg-hero-secondary-color);
}

.hero__button {
  font-size: 8px;
  line-height: 1.25;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--text-primary-color);
  padding: 8px 15px;
  background: var(--btn-bg-secondary-color);
  border-radius: 20px;
  transition: background-color 250ms var(--primary-cubic-bezier);
}
.hero__button + .hero__button {
  margin-left: 8px;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-bg-hover-secondary-color);
}
.hero__button_red {
  color: var(--text-secondary-color);
  background-color: var(--bg-primary-color);
}
.hero__button_red:hover, .hero__button_red:focus {
  background-color: var(--btn-bg-hover-primary-color);
}

.hero__img {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: translate(80%, 22%);
}

.footer {
  background-color: var(--bg-secondary-color);
}
.footer .container {
  margin-bottom: 49px;
}
.footer__text {
  max-width: 234px;
  margin-bottom: 43px;
}
.footer__text-title {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 1.667;
  text-transform: uppercase;
  color: var(--text-before-title-color);
  margin-bottom: 30px;
}
.footer__text-slog {
  font-family: var(--font-secondary);
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--bg-social-hover-color);
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}
.footer__social-item:not(:last-child) {
  margin-right: 30px;
}
.footer__social-sprite {
  display: flex;
  width: 32px;
  height: 32px;
  color: var(--bg-primary-color);
  background-color: var(--bg-social-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.footer__social-sprite:hover, .footer__social-sprite:focus {
  background-color: var(--bg-social-hover-color);
  color: var(--bg-primary-color);
}
.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer__contact-tel {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  color: var(--text-content-primary-color);
}
.footer__contact-link {
  margin-left: 3px;
  color: var(--bg-social-hover-color);
}
.footer__copyright {
  border-top: 1px solid #e1e1e1;
  min-height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright-text {
  width: 180px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-content-secondary-color);
  padding: 0 20px;
}/*# sourceMappingURL=main.css.map */