@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --text-primary-color: #ffffff;
  --text-secondary-color: #d41443;
  --text-before-title-color: #ffa5ba;
  --text-content-primary-color: #000000;
  --text-content-secondary-color: #907e82;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #fff5f6;
  --bg-hero-primary-color: #ffb8ca;
  --bg-hero-secondary-color: #ffa5ba;
  --bg-menu-color: #e17992;
  --bg-item-menu-color: #e18298;
  --bg-product1-color: #ffb8ca;
  --bg-product2-color: #f0d1a5;
  --bg-product3-color: #c2e297;
  --bg-social-color: #fea5bb;
  --bg-social-hover-color: #d41443;
  --bg-reviews-color: #fafafa;
  --bg-reviews-tablet-color: rgba(250, 250, 250, 0.4);
  --lines-reviews-color: #e1e1e1;
  --dots-reviews-color: #d9d9d9;
  --btn-bg-primary-color: #ffffff;
  --btn-bg-secondary-color: #d41443;
  --btn-bg-hover-primary-color: #ecebeb;
  --btn-bg-hover-secondary-color: #c7133e;
  --border-primary: 1px solid #e1e1e1;
  --shadow-primary: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --font-primary: 'DM Sans', sans-serif;
  --font-secondary: 'Titan One', cursive;
  --primary-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* визуальное скрытие блока */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* сброс марджинов и паддингов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}

/* Общий CSS - начало */
body {
  font-size: 12px;
  line-height: 1.58333;
  font-weight: 500;
  font-family: var(--font-primary);
  color: var(--text-content-primary-color);
  background-color: var(--bg-primary-color);
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

body.lock {
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__logo {
  padding: 8px 0px;
}

.header__nav {
  display: none;
}

.header__block-side {
  position: relative;
}

.header__open-burger {
  position: absolute;
  top: 50%;
  right: -10px;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  fill: var(--text-secondary-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--primary-cubic-bezier);
  transition: fill 250ms var(--primary-cubic-bezier);
}

.header__open-burger:hover, .header__open-burger:focus {
  fill: var(--text-primary-color);
}

.buy-now-button {
  display: none;
}

.mob-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: -100%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.mob-menu.active {
  right: 0;
}

.mob-menu__wrap {
  background-color: var(--bg-menu-color);
  width: 250px;
  height: 100vh;
  margin-left: auto;
  padding: 20px 20px;
  overflow: auto;
}

.header__close-burger {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  display: block;
  margin-left: auto;
  fill: var(--text-primary-color);
  -webkit-transition: fill 250ms var(--primary-cubic-bezier);
  transition: fill 250ms var(--primary-cubic-bezier);
}

.header__close-burger:hover, .header__close-burger:focus {
  fill: var(--btn-bg-hover-secondary-color);
}

.header__button {
  font-size: 16px;
  line-height: 1.3125;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--text-secondary-color);
  background: var(--bg-primary-color);
  border-radius: 22px;
  border: 0;
  -webkit-transition: background-color 250ms var(--primary-cubic-bezier);
  transition: background-color 250ms var(--primary-cubic-bezier);
  position: relative;
}

.header__button:hover, .header__button:focus {
  background-color: var(--btn-bg-hover-primary-color);
}

.mob-menu__button {
  margin-top: 40px;
  padding: 12px 47px 12px 62px;
}

.mob-menu__buy-icon {
  margin-left: 28px;
}

.mob-menu__list {
  margin-top: 20px;
}

.mob-menu__item {
  padding: 14px 0;
  position: relative;
}

.mob-menu__link {
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--text-primary-color);
  padding: 14px 0px;
  -webkit-transition: color 250ms var(--primary-cubic-bezier);
  transition: color 250ms var(--primary-cubic-bezier);
}

.mob-menu__link::after {
  content: "";
  position: absolute;
  width: 250px;
  top: 0;
  left: 0;
  border-top: 1px solid var(--bg-item-menu-color);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.mob-menu__link::before {
  content: "";
  position: absolute;
  width: 250px;
  bottom: -1px;
  left: 0;
  border-bottom: 1px solid var(--bg-item-menu-color);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}

.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding: 32px 0px;
  }
  .mob-menu__wrap_tab {
    display: block;
    margin: 0;
  }
  .header__block-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .buy-now-button {
    display: block;
    padding: 12px 36px 12px 40px;
  }
  .header__open-burger {
    margin-right: 192px;
    right: 0;
  }
  .mob-menu__wrap {
    width: 254px;
  }
  .mob-menu__button {
    display: block;
    margin-left: auto;
    padding: 12px 42px 12px 51px;
  }
  .header__buy-icon {
    margin-left: 12px;
  }
  .mob-menu__buy-icon {
    margin-left: 21px;
  }
  .mob-menu__link::before, .mob-menu__link::after {
    width: 254px;
  }
}

@media screen and (min-width: 1200px) {
  body.lock {
    overflow: auto;
  }
  .header__nav {
    display: block;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item + .nav__item {
    margin-left: 35px;
  }
  .nav__link {
    font-size: 14px;
    line-height: 1.28571;
    font-weight: 700;
    font-family: var(--font-primary);
    color: var(--text-primary-color);
    -webkit-transition: color 250ms var(--primary-cubic-bezier);
    transition: color 250ms var(--primary-cubic-bezier);
  }
  .nav__link:hover, .nav__link:focus {
    color: var(--text-secondary-color);
  }
  .header__open-burger {
    display: none;
  }
  .mob-menu {
    display: none;
  }
}

.current {
  color: var(--text-secondary-color);
}

.hidde {
  display: none;
}

.overlay {
  width: 100vw;
  background-color: var(--bg-hero-primary-color);
}

@media screen and (max-width: 767px) {
  .overlay {
    overflow: hidden;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 665px;
  }
}

.hero__container {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero__container {
    height: 100%;
  }
}

.hero_wrap {
  padding: 194px 0px 156px 0px;
}

@media screen and (min-width: 768px) {
  .hero_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0;
    height: 100%;
  }
}

.hero__title {
  width: 218px;
  margin-bottom: 24px;
  color: var(--text-primary-color);
  font-size: 26px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.hero__title span {
  color: var(--text-secondary-color);
  font-size: 48px;
  line-height: 0.965;
  font-weight: 400;
  font-family: var(--font-secondary);
}

.hero__title::after {
  content: " ";
  position: absolute;
  z-index: -1;
  width: 346px;
  height: 344px;
  top: 83px;
  left: 36px;
  border-radius: 50%;
  background-color: var(--bg-hero-secondary-color);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 25px;
    width: 162px;
  }
  .hero__title span {
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .hero__title::after {
    width: 324px;
    height: 322px;
    top: -29px;
    -webkit-transform: translate(8%, 19%);
            transform: translate(8%, 19%);
    top: -29px;
    left: 255px;
  }
}

.hero__button {
  font-size: 8px;
  line-height: 1.25;
  font-weight: 400;
  font-family: var(--font-primary);
  color: var(--text-primary-color);
  padding: 8px 15px;
  background: var(--btn-bg-secondary-color);
  border-radius: 20px;
  -webkit-transition: background-color 250ms var(--primary-cubic-bezier);
  transition: background-color 250ms var(--primary-cubic-bezier);
}

.hero__button + .hero__button {
  margin-left: 8px;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--btn-bg-hover-secondary-color);
}

.hero__button_red {
  color: var(--text-secondary-color);
  background-color: var(--bg-primary-color);
}

.hero__button_red:hover, .hero__button_red:focus {
  background-color: var(--btn-bg-hover-primary-color);
}

.second_box {
  display: none;
  position: absolute;
  bottom: 28px;
}

@media screen and (min-width: 768px) {
  .second_box {
    display: block;
  }
}

.hero__button-arrow {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0;
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--btn-bg-secondary-color);
  background: var(--bg-primary-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.hero__button-arrow:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.hero__svg {
  height: 5px;
  width: 5px;
  fill: var(--btn-bg-secondary-color);
}

.box__number {
  font-weight: 400;
  font-family: Titan One, cursive;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: .04em;
  text-transform: uppercase;
  color: var(--text-secondary-color);
}

.box__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: var(--text-primary-color);
}

.hero__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: var(--text-primary-color);
}

.white-elipse-second, .white-elipse-first {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--bg-primary-color);
  position: relative;
}

.white-elipse-first {
  margin-bottom: 35px;
}

.box {
  position: absolute;
  right: 56%;
  top: 5%;
}

.hero_right {
  display: none;
  position: absolute;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .hero_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.right_first_box {
  right: 0;
  width: 51px;
  height: 104px;
  margin-bottom: 72px;
  padding-left: 150px;
}

.box-text-wrap {
  height: 73px;
  position: absolute;
  bottom: 8px;
  right: -95px;
}

@media screen and (min-width: 768px) {
  .first_box {
    width: 162px;
    padding-top: 102px;
  }
}

.hero__img {
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .hero__img {
    top: 0px;
    left: 0px;
    -webkit-transform: translate(80%, 22%);
            transform: translate(80%, 22%);
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    right: 213px;
    bottom: 0;
    -webkit-animation: pulsing 2s;
            animation: pulsing 2s;
  }
}

@media screen and (min-width: 768px) {
  @-webkit-keyframes pulsing {
    0% {
      -webkit-transform: translateX(500%);
              transform: translateX(500%);
    }
    50% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes pulsing {
    0% {
      -webkit-transform: translateX(500%);
              transform: translateX(500%);
    }
    50% {
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
}

.products {
  padding-top: 120px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__pre-title {
  margin-bottom: 15px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-before-title-color);
}

@media screen and (min-width: 768px) {
  .products__pre-title {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .products__pre-title {
    font-size: 30px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}

.products__title {
  margin-bottom: 30px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 45px;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .products__title {
    margin-bottom: 50px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.products__item {
  padding-top: 113px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .products__item {
    padding-top: 105px;
    -ms-flex-preferred-size: calc((100% - 2 * 20px) / 3);
        flex-basis: calc((100% - 2 * 20px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .products__item {
    padding-top: 210px;
    -ms-flex-preferred-size: calc((100% - 4 * 25.75px) / 3);
        flex-basis: calc((100% - 4 * 25.75px) / 3);
  }
}

.products__item:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .products__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .products__item:not(:last-child) {
    margin-right: 25.75px;
  }
}

.products__item--cream::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 249px;
  min-height: 252px;
  content: "";
  background-image: url("../images/products/product-1-249.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--cream::before {
    background-image: url("../images/products/product-1-249@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .products__item--cream::before {
    min-width: 220px;
    min-height: 226px;
    background-image: url("../images/products/product-1-220.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--cream::before {
    background-image: url("../images/products/product-1-220@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .products__item--cream::before {
    min-width: 335px;
    min-height: 335px;
    background-image: url("../images/products/product-1-335.png");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--cream::before {
    background-image: url("../images/products/product-1-335@2x.png");
  }
}

.products__item--coffee::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 249px;
  min-height: 252px;
  content: "";
  background-image: url("../images/products/product-2-249.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--coffee::before {
    background-image: url("../images/products/product-2-249@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .products__item--coffee::before {
    min-width: 220px;
    min-height: 226px;
    background-image: url("../images/products/product-2-220.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--coffee::before {
    background-image: url("../images/products/product-2-220@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .products__item--coffee::before {
    min-width: 335px;
    min-height: 335px;
    background-image: url("../images/products/product-2-335.png");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--coffee::before {
    background-image: url("../images/products/product-2-335@2x.png");
  }
}

.products__item--shakes::before {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  min-width: 249px;
  min-height: 252px;
  content: "";
  background-image: url("../images/products/product-3-249.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--shakes::before {
    background-image: url("../images/products/product-3-249@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .products__item--shakes::before {
    min-width: 220px;
    min-height: 226px;
    background-image: url("../images/products/product-3-220.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--shakes::before {
    background-image: url("../images/products/product-3-220@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .products__item--shakes::before {
    min-width: 335px;
    min-height: 335px;
    background-image: url("../images/products/product-3-335.png");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item--shakes::before {
    background-image: url("../images/products/product-3-335@2x.png");
  }
}

.products__card {
  display: block;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 160px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .products__card {
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .products__card {
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 163px;
  }
}

.products__card--cream {
  background-color: var(--bg-product1-color);
}

.products__card--coffee {
  background-color: var(--bg-product2-color);
}

.products__card--shakes {
  background-color: var(--bg-product3-color);
}

.products__name {
  margin-bottom: 30px;
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-primary-color);
}

@media screen and (min-width: 1200px) {
  .products__name {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__text {
  position: relative;
  margin-bottom: 30px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
  .products__text {
    margin-bottom: 40px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .products__text {
    margin-bottom: 60px;
    font-size: 16px;
  }
}

.products__text.margin {
  margin-bottom: 0;
}

.products__text::before {
  content: '...';
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-37px);
          transform: translateX(-50%) translateY(-37px);
  font-size: 37px;
  color: var(--text-primary-color);
}

.products__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--btn-bg-primary-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .products__button {
    margin-bottom: 50px;
  }
}

.products__button.is-open {
  display: none;
}

.products__button:hover, .products__button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.products__icon {
  fill: var(--text-secondary-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__detalis {
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
  .products__detalis {
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .products__detalis {
    font-size: 16px;
  }
}

.products__detalis.is-open {
  display: block;
  padding-bottom: 30px;
}

.products__detalis--icon {
  font-size: 12px;
  color: var(--text-secondary-color);
}

.products__detalis--icon:hover, .products__detalis--icon:focus {
  font-size: 16px;
}

.about {
  width: 100%;
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: var(--bg-secondary-color);
  background-image: url(../images/about/bg-milk-320.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 0 bottom 95px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/bg-milk-320@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: inherit;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 125px;
    padding-bottom: 39px;
    background-image: url(../images/about/bg-milk-1280.png);
    background-position: right 0 bottom 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/bg-milk-1280@2x.png);
  }
}

.about__container {
  width: 100vw;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .about__container {
    padding-left: 39px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    padding-left: 46px;
    padding-right: 46px;
  }
}

.about__pre-title {
  font-size: 18px;
  line-height: 1.16667;
  font-weight: 400;
  font-family: var(--font-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--text-before-title-color);
}

@media screen and (min-width: 768px) {
  .about__pre-title {
    font-size: 26px;
    line-height: 1.15385;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .about__pre-title {
    font-size: 30px;
    line-height: 1.13333;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 15px;
  }
}

.about__title {
  font-size: 34px;
  line-height: 1.14706;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: var(--font-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    line-height: 1.14583;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 58px;
    line-height: 1.13793;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 55px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.58333;
  font-weight: 500;
  font-family: var(--font-primary);
  margin-bottom: 35px;
  color: var(--text-content-primary-color);
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.78571;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

.about__list {
  font-size: 12px;
  line-height: 1.58333;
  font-weight: 500;
  font-family: var(--font-primary);
  margin-bottom: 17px;
  color: var(--text-content-secondary-color);
}

@media screen and (min-width: 768px) {
  .about__list {
    font-size: 14px;
    line-height: 1.78571;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    font-size: 14px;
    line-height: 1.92857;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 45px;
  }
}

.about__item:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .about__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.modal__about--item:not(:last-child) {
  margin-bottom: 20px;
}

.about__button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.28571;
  font-weight: 700;
  font-family: var(--font-primary);
  color: var(--text-secondary-color);
  padding: 13px 38.78px 13px 37px;
  background: var(--btn-bg-primary-color);
  border-radius: 22px;
  border: none;
  -webkit-transition: background-color 250ms var(--primary-cubic-bezier);
  transition: background-color 250ms var(--primary-cubic-bezier);
}

.about__button:hover, .about__button:focus {
  background-color: var(--btn-bg-hover-primary-color);
}

@media screen and (min-width: 768px) {
  .about__button {
    font-size: 16px;
    line-height: 1.3125;
    font-weight: 700;
    font-family: var(--font-primary);
    margin-left: 0;
    padding: 11.5px 36.78px 11.5px 37px;
  }
}

@media screen and (min-width: 1200px) {
  .about__button {
    font-size: 16px;
    line-height: 1.375;
    font-weight: 700;
    font-family: var(--font-primary);
    margin-left: 0;
  }
}

.button__vector {
  margin-left: 13.62px;
  display: inline-block;
  width: 1em;
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.about__wrap--foto {
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .about__wrap--foto {
    margin-bottom: 0;
  }
}

.about__wrap--content {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 768px) {
  .about__wrap--content {
    width: 340px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .about__wrap--content {
    width: 463px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 51px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--primary-cubic-bezier);
  transition: -webkit-transform var(--primary-cubic-bezier);
  transition: transform var(--primary-cubic-bezier);
  transition: transform var(--primary-cubic-bezier), -webkit-transform var(--primary-cubic-bezier);
  z-index: 5;
}

.backdrop.is-hidden .modal {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-transition: -webkit-transform 250ms var(--primary-cubic-bezier);
  transition: -webkit-transform 250ms var(--primary-cubic-bezier);
  transition: transform 250ms var(--primary-cubic-bezier);
  transition: transform 250ms var(--primary-cubic-bezier), -webkit-transform 250ms var(--primary-cubic-bezier);
}

.modal {
  width: 80%;
  height: 80%;
  background-color: var(--bg-product1-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform var(--primary-cubic-bezier);
  transition: -webkit-transform var(--primary-cubic-bezier);
  transition: transform var(--primary-cubic-bezier);
  transition: transform var(--primary-cubic-bezier), -webkit-transform var(--primary-cubic-bezier);
  padding: 40px;
  background-image: url(../images/about/bg-milk-320.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow-y: scroll;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .modal {
    background-image: url(../images/about/bg-milk-320@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    overflow-y: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    background-image: url(../images/about/bg-milk-1280.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .modal {
    background-image: url(../images/about/bg-milk-1280@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__button {
  position: absolute;
  top: 10px;
  right: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  display: block;
  margin-left: auto;
  fill: var(--text-primary-color);
  -webkit-transition: fill 250ms var(--primary-cubic-bezier);
  transition: fill 250ms var(--primary-cubic-bezier);
}

.modal__button:hover, .modal__button:focus {
  fill: var(--btn-bg-hover-secondary-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-size: 34px;
  line-height: 1.14706;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: var(--font-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .modal__title {
    font-size: 48px;
    line-height: 1.14583;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 58px;
    line-height: 1.13793;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 55px;
  }
}

.modal__about--list {
  font-size: 12px;
  line-height: 1.58333;
  font-weight: 500;
  font-family: var(--font-primary);
  margin-bottom: 17px;
  color: var(--text-content-secondary-color);
}

@media screen and (min-width: 768px) {
  .modal__about--list {
    font-size: 16px;
    line-height: 1.5625;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__about--list {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 45px;
  }
}

.advantages {
  background-color: var(--bg-secondary-color);
  margin-top: 0;
  padding-bottom: 97px;
}

@media screen and (min-width: 768px) {
  .advantages {
    margin-top: 0;
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    margin-top: 0;
    padding-bottom: 139px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    margin: -15px;
  }
}

.advantages__item {
  margin-bottom: 37px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc(100% / 3 - 60px);
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc(100% / 3 - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:last-child {
    margin-bottom: 0;
  }
}

.advantages__number {
  margin-bottom: 30px;
  color: var(--text-secondary-color);
  font-size: 36px;
  line-height: 1.13889;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .advantages__number {
    margin-top: 0;
    font-size: 48px;
    line-height: 1.14583;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__number {
    margin-top: 0;
    font-size: 58px;
    line-height: 1.13793;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-family: var(--font-secondary);
    margin-bottom: 15px;
  }
}

.advantages__number::before {
  content: "";
  display: block;
  background-size: contain;
  height: 50px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .advantages__number::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__number::before {
    margin-bottom: 40px;
  }
}

.advantages__number--ice::before {
  background-image: url(../images/advantages/advantages-1-33.png);
  width: 33px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__number--ice::before {
    background-image: url(../images/advantages/advantages-1-33@2x.png);
  }
}

.advantages__number--apple::before {
  width: 50px;
  background-image: url(../images/advantages/advantages-2-50.png);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__number--apple::before {
    background-image: url(../images/advantages/advantages-2-50@2x.png);
  }
}

.advantages__number--heart::before {
  background-image: url(../images/advantages/advantages-3-44.png);
  width: 44px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__number--heart::before {
    background-image: url(../images/advantages/advantages-3-44@2x.png);
  }
}

.advantages__text {
  color: var(--text-content-primary-color);
  font-size: 12px;
  line-height: 1.66667;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-family: var(--font-primary);
  display: block;
  max-width: 230px;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.04em;
    font-weight: 700;
    font-family: var(--font-primary);
    max-width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-family: var(--font-primary);
    max-width: 330px;
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, var(--bg-secondary-color)), color-stop(40%, var(--bg-primary-color)), to(var(--bg-primary-color)));
  background-image: linear-gradient(to bottom, var(--bg-secondary-color) 40%, var(--bg-primary-color) 40%, var(--bg-primary-color) 100%);
}

.photo {
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.photo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slideshow-container {
  padding-top: 80px;
  padding-bottom: 86px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .slideshow-container {
    padding-top: 121px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 119px;
  }
}

@media screen and (min-width: 1200px) {
  .slideshow-container {
    padding-top: 123px;
    padding-bottom: 132px;
    padding-left: 137px;
    padding-right: 137px;
  }
}

.slide {
  display: none;
}

.reviews__img {
  display: block;
  margin: auto;
}

.feedback {
  position: relative;
  margin-top: 29px;
  margin-bottom: 52px;
  padding-top: 43px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  text-align: center;
  background-color: var(--bg-reviews-color);
  width: 100%;
}

.feedback::after {
  content: '. . .';
  position: absolute;
  display: inline-block;
  height: 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30px;
  font-size: 32px;
  color: var(--btn-bg-hover-secondary-color);
}

@media screen and (min-width: 1200px) {
  .feedback::after {
    bottom: -15px;
  }
}

@media screen and (min-width: 768px) {
  .feedback {
    margin-top: 19px;
    margin-bottom: 42px;
    padding-left: 60px;
    padding-right: 36px;
    padding-top: 47px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feedback {
    background-color: var(--bg-reviews-tablet-color);
  }
}

@media screen and (min-width: 1200px) {
  .feedback {
    margin-top: 15px;
    margin-bottom: 34px;
    padding-left: 59px;
    padding-right: 54px;
    padding-bottom: 32px;
  }
}

.feedback__wrap {
  position: relative;
  background-image: repeating-linear-gradient(to bottom, transparent, transparent 29px, var(--lines-reviews-color) 29px, var(--lines-reviews-color) 30px);
}

@media screen and (min-width: 768px) {
  .feedback__wrap {
    padding-left: 20px;
    padding-right: 44px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__wrap {
    padding-left: 28px;
    padding-right: 35px;
  }
}

.feedback__wrap::before {
  content: '\275E';
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  -webkit-transform: translate(10px, -55px);
          transform: translate(10px, -55px);
  font-size: 110px;
  color: var(--lines-reviews-color);
}

@media screen and (min-width: 768px) {
  .feedback__wrap::before {
    -webkit-transform: translate(-15px, -55px);
            transform: translate(-15px, -55px);
  }
}

@media screen and (min-width: 1200px) {
  .feedback__wrap::before {
    -webkit-transform: translate(-10px, -55px);
            transform: translate(-10px, -55px);
  }
}

.feedback__text {
  position: relative;
  margin: auto;
  min-width: 160px;
  z-index: 2;
  font-size: 12px;
  line-height: 2.58333;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: DM Sans;
}

@media screen and (min-width: 768px) {
  .feedback__text {
    max-width: 100%;
    font-size: 14px;
    line-height: 2.14286;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: DM Sans;
  }
}

@media screen and (min-width: 1200px) {
  .feedback__text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: DM Sans;
  }
}

.reviews-meta {
  text-align: center;
  padding-top: 22px;
}

.reviews-meta__text {
  font-size: 14px;
  line-height: 1.85714;
  font-weight: 500;
  font-family: DM Sans;
}

@media screen and (min-width: 768px) {
  .reviews-meta__text {
    font-size: 16px;
    line-height: 1.875;
    font-weight: 500;
    font-family: DM Sans;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-meta__text {
    font-size: 20px;
    line-height: 1.85;
    font-weight: 500;
    font-family: DM Sans;
  }
}

.marker-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .marker-list {
    margin-top: 35px;
  }
}

.marker-list__item:not(:last-child) {
  margin-right: 18px;
}

.marker {
  width: 12px;
  height: 12px;
  background-image: url("/images/reviews/reviews-marker.svg");
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: var(--primary-cubic-bezier);
          transition-timing-function: var(--primary-cubic-bezier);
}

.marker--active {
  width: 12px;
  height: 12px;
  background-image: url("/images/reviews/reviews-marker-home.svg");
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 12s;
  animation-name: fade;
  animation-duration: 12s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  98% {
    opacity: .1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  98% {
    opacity: .1;
  }
  100% {
    opacity: 0;
  }
}

.contacts {
  background: var(--bg-secondary-color);
}

.container-contacts {
  padding-top: 43px;
  padding-bottom: 57px;
}

@media screen and (min-width: 768px) {
  .container-contacts {
    padding-top: 59px;
    padding-bottom: 79px;
  }
}

@media screen and (min-width: 1200px) {
  .container-contacts {
    padding-top: 66px;
    padding-bottom: 82.5px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contacts-list__item {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-primary-color);
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 21px 43px 20px;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts-list__item {
    padding: 50px 31px 50px 32px;
  }
  .contacts-list__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__item {
    min-width: 330px;
    padding: 51px 43px 62px 43px;
  }
  .contacts-list__item:not(:last-child) {
    margin-right: 31px;
  }
  .contacts-list__item:nth-child(n+2) {
    margin-left: 0;
  }
}

.contacts-list__categories,
.contacts-list__categories-food {
  border-radius: 4px;
  text-align: center;
  color: var(--text-primary-color);
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-primary);
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts-list__categories,
  .contacts-list__categories-food {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__categories,
  .contacts-list__categories-food {
    margin-bottom: 32px;
  }
}

.contacts-list__categories {
  width: 80px;
  background: var(--bg-product2-color);
}

@media screen and (min-width: 768px) {
  .contacts-list__categories {
    width: 73px;
  }
}

.contacts-list__categories-food {
  width: 130px;
  background: var(--bg-product3-color);
}

@media screen and (min-width: 768px) {
  .contacts-list__categories-food {
    width: 138px;
  }
}

.contacts-list__title,
.contacts-list__schedule-title {
  font-size: 12px;
  line-height: 1.83333;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-family: var(--font-primary);
}

@media screen and (min-width: 768px) {
  .contacts-list__title,
  .contacts-list__schedule-title {
    font-size: 14px;
    line-height: 1.85714;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__title,
  .contacts-list__schedule-title {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

.contacts-list__title {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-list__title {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__title {
    margin-bottom: 10px;
  }
}

.contacts-list__text,
.contacts-list__data-link,
.contacts-list__schedule-time {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  font-family: var(--font-primary);
  color: var(--text-content-secondary-color);
}

.contacts-list__text {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts-list__text {
    font-size: 14px;
    line-height: 1.64286;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__text {
    font-size: 16px;
    line-height: 1.8125;
    letter-spacing: 0.04em;
    font-weight: 500;
    font-family: var(--font-primary);
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__data-link,
  .contacts-list__schedule-time {
    font-size: 14px;
    line-height: 1.85714;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

.contacts-list__schedule {
  border-top: var(--border-primary);
  border-bottom: var(--border-primary);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts-list__schedule {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__schedule {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

.contacts-list__schedule-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-list__schedule-item:not(:last-child):not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list__schedule-item:not(:last-child):not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-list__schedule-time {
  color: var(--text-before-title-color);
}

@media screen and (min-width: 1200px) {
  .contacts-list__schedule-time {
    font-size: 16px;
    line-height: 1.875;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list__data-link {
    font-size: 16px;
    line-height: 1.8125;
    font-weight: 500;
    font-family: var(--font-primary);
  }
}

.contacts-btn-list {
  margin-top: 54px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts-btn-list {
    margin-top: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-btn-list {
    margin-top: 86px;
  }
}

.contacts-btn__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-btn__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

.btn-locations,
.btn-franchise {
  min-width: 161px;
  min-height: 44px;
  margin: 0 auto;
  border-radius: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 1.3125;
  font-weight: 700;
  font-family: var(--font-primary);
  border: none;
}

.btn-locations {
  background: var(--btn-bg-secondary-color);
  color: var(--btn-bg-primary-color);
}

@media screen and (min-width: 768px) {
  .btn-locations {
    min-width: 198px;
  }
}

.btn-franchise {
  background: var(--btn-bg-primary-color);
  color: var(--btn-bg-secondary-color);
}

.btn-franchise:hover, .btn-franchise:focus {
  background-color: var(--btn-bg-hover-primary-color);
}

@media screen and (min-width: 768px) {
  .btn-franchise {
    min-width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-btn-icon {
    width: 6px;
    height: 10px;
  }
}

.footer {
  background-color: var(--bg-secondary-color);
}

.footer .container {
  margin-bottom: 49px;
}

.footer__text {
  max-width: 234px;
  margin-bottom: 43px;
}

.footer__text-title {
  font-family: var(--font-secondary);
  font-size: 18px;
  line-height: 1.166;
  text-transform: uppercase;
  color: var(--text-before-title-color);
  margin-bottom: 17px;
  font-weight: 400;
}

.footer__text-duplication {
  font-family: var(--font-secondary);
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--bg-social-hover-color);
  font-weight: 400;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.footer__social-item:not(:last-child) {
  margin-right: 30px;
}

.footer__social-sprite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  color: var(--bg-primary-color);
  background-color: var(--bg-social-color);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--primary-cubic-bezier), color 250ms var(--primary-cubic-bezier);
  transition: background-color 250ms var(--primary-cubic-bezier), color 250ms var(--primary-cubic-bezier);
}

.footer__social-sprite:hover {
  background-color: var(--bg-social-hover-color);
  color: var(--bg-primary-color);
}

.footer__social-link:focus div {
  background-color: var(--bg-social-hover-color);
  color: var(--bg-primary-color);
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer__contact-tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  color: var(--text-content-primary-color);
  text-align: right;
}

.footer__contact-link {
  margin-left: 3px;
  color: var(--bg-social-hover-color);
}

.footer__copy {
  border-top: 1px solid #e1e1e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 25px;
}

.footer__copy-text {
  width: 148px;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-content-secondary-color);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 91px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__text {
    max-width: 340px;
    margin-bottom: 0;
  }
  .footer__text-title {
    font-size: 26px;
    line-height: 1.154;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    font-weight: 400;
  }
  .footer__text-duplication {
    font-size: 48px;
    letter-spacing: 0.06em;
    font-weight: 400;
  }
  .footer__contact-tel {
    font-size: 14px;
    line-height: 1.857;
  }
  .footer__copy-text {
    width: 316px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .footer__social-sprite {
    width: 34px;
    height: 34px;
  }
  .footer__copy {
    padding-top: 29px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    margin: bottom 97px;
  }
  .footer__text {
    max-width: 480px;
  }
  .footer__text-title {
    font-size: 30px;
    line-height: 1.133;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .footer__text-duplication {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
    font-weight: 400;
  }
  .footer__social-list {
    margin-bottom: 50px;
  }
  .footer__contact-tel {
    font-size: 16px;
    line-height: 1.86;
  }
  .footer__copy {
    padding-top: 9px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */