<div class="modal-about"> 
    <div class="backdrop__about is-hidden" data-modal>
    <div class="modal__about">
      <button type="button" class="button modal__button" data-modal-close>
        <svg class="modal__button-icon modal__button-icon--close" width="11" height="11">
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <p class="modal__title">how it’s made?</p>
      <div class="modal__about--list">
        <p class="modal__about--text-info">
          About 70% of the ingredients in ice cream come from milk, although mixes often contain
          natural ingredients like sugar and fruit.
        </p>
        <p class="modal__about--text-info">
          Small quantities of stabilisers, flavours, colourings and emulsifiers may also be added to
          enhance flavour, texture or appearance.
        </p>
        <p class="modal__about--text-info">
          There are no added preservatives as ice cream is preserved naturally by freezing. As it
          freezes, the mixture is whipped and blended to give its smoothness.
        </p>
      </div>
    </div>
</div>
