<div class="modal-franchise-backdrop is-hidden" data-modal-franchise>
    <div class="modal-franchise">
        <button type="button" class="button modal-franchise__button" data-modal-franchise-close>
            <svg class="modal__button-icon modal__button-icon--close" width="16" height="16">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>

        <p class="modal-franchise__title">We offer cooperation</p>
        <p class="modal-franchise__title-info">Leave your details we will contact you</p>
        <form class="modal-form">
            <div class="franchis-form-field">
                <label for="user-name1" class="modal-franchise-form__name">Name</label>
                <div class="franchis-form__wrap">
                    <input type="text" name="user-name" class="modal-franchise-form__input" required id="user-name1" placeholder="Smith">
                </div>
            </div>
        
            <div class="franchis-form-field">
                <label for="user-tel" class="modal-franchise-form__name">Phone</label>
                <div class="franchis-form__wrap">
                    <input type="tel" name="tel" class="modal-franchise-form__input" required id="user-tel" placeholder="+7 777 777 77 77">
                </div>
            </div>
        
            <div class="franchis-form-field">
                <label for="user-email" class="modal-franchise-form__name">Email</label>
                <div class="franchis-form__wrap">
                    <input type="email" name="email" class="modal-franchise-form__input" required id="user-email" placeholder="smith777@mail">
                </div>
            </div>

            <div class="franchis-form-field-btn">
                <button type="submit" class="franchise-btn-submit">Submit an application</button>
            </div>
            
            </form>
        
    </div>
</div>