<div class="backdrop__contacts is-hidden" data-modal-contacts>
    <div class="modal-contacts">
        <button type="button" class="button modal-contacts__button" data-modal-contacts-close>
            <svg class="modal__button-icon modal__button-icon--close" width="16" height="16">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-contacts__title">Our Location</p>
        <ul class="modal-contacts__list">
            <li class="modal-contacts__item">
                <h2 class="modal-contacts__text">Chicago</h2>
                <iframe class="location"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380513.7159859942!2d-88.01214778988322!3d41.83339250495681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1649187851181!5m2!1sru!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>
            <li class="modal-contacts__item">
                <h2 class="modal-contacts__text">Los Angeles</h2>
                <iframe class="location"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423286.27405770525!2d-118.69192047471653!3d34.02016130653294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1649188033383!5m2!1sru!2sua"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>
            <li class="modal-contacts__item">
                <h2 class="modal-contacts__text">New York</h2>
                <iframe class="location"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.305935303!2d-74.25986548248684!3d40.69714941932609!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1649188197843!5m2!1sru!2sua" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </li>
        </ul>
    </div>
</div> 