<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">
        Ice cream made with 
        <span>passion</span>
      </h1>
      <a href="#products" class="hero__link">Products</a>
      <a href="#about" class="hero__link">How it’s made?</a>
      <picture>
        <source srcset="
        ./images/hero/hero-mob.png    1x,
        ./images/hero/hero-mob-2x.png 2x"
        media="(min-width: 320px)"
        />
        <img 
        src="./images/hero/hero-mob.png" 
        alt="ріжок морозива">
      </picture>
    </div>
  </div>
</section>
