<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="index.html" class="header__logo">
        <picture class="header__img">
          <source srcset="
          ./images/logo.png    1x,
          ./images/logo@2x.png 2x"
          media="(min-width: 320px)"
          />
          <img 
          src="./images/logo.png" 
          alt="Product Logo">
        </picture>
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="" class="nav__link current">Home</a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link">About us</a>
          </li>
          <li class="nav__item">
            <a href="#advantages" class="nav__link">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a href="#gallery" class="nav__link">Our products</a>
          </li>
          <li class="nav__item">
            <a href="#contacts" class="nav__link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__block-side">
        <button type="button" class="header__open-burger" data-menu-open>
          <svg class="header__icon" width="20" height="12">
            <use href="./images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <button type="button" class="header__button buy-now-button">Buy now<svg class="header__buy-icon" width="7.26" height="10">
          <use href="./images/icons.svg#icon-buy-arrow"></use>
        </svg></button>
      </div>
      <div class="mob-menu visually-hidden" data-menu>
        <div class="mob-menu__wrap">
          <button type="button" class="header__close-burger" data-menu-close>
            <svg class="header__icon" width="14" height="14">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>
            <button type="button" class="header__button mob-menu__button">Buy now<svg class="mob-menu__buy-icon" width="7.26" height="10">
              <use href="./images/icons.svg#icon-buy-arrow"></use>
            </svg></button>
          <ul class="mob-menu__list">
            <li class="mob-menu__item">
              <a href="" class="mob-menu__link current">Home</a>
            </li>
            <li class="mob-menu__item">
              <a href="#products" class="mob-menu__link">About us</a>
            </li>
            <li class="mob-menu__item">
              <a href="#about" class="mob-menu__link">How it’s made?</a>
            </li>
            <li class="mob-menu__item">
              <a href="#gallery" class="mob-menu__link">Our products</a>
            </li>
            <li class="mob-menu__item">
              <a href="#contacts" class="mob-menu__link">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
