<section class="reviews">
  <title class="visually-hidden">Customer Reviews</title>
  <div class="container">
    <img class="reviews__img" src="./images/reviews/reviews-1-85.png" alt="Customer`s photo" width="85px" height="85px">
    <div class="feedback">
      <div class="feedback__wrap">
    <p class="feedback__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
  </div>
  </div>
   <div class="reviews-meta">
    <p class="reviews-meta__text">Emily, Los Angeles</p> 
    <ul class="marker-list">
      <li class="marker-list__item"><div class="marker--current">
        <svg class="marker-icon" width="12.4px" height="12px">
          <use href="./images/icons.svg#icon-Home"></use>
      </svg>
      </div></li>
      <li class="marker-list__item"><div class="marker--ordinary"></div></li>
      <li class="marker-list__item"><div class="marker--ordinary"></div></li>
    </ul>

   </div> 

  </div>
</section>
