<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <div class="grid">
      <div class="grid-items">
        <div class="grid-item-1 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_1.png 1x, /images/gallery/desk_1@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_1.png 1x, /images/gallery/tab_1@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_1.png" alt="111" class="grid-img-1 grid-img" />
          </picture>
        </div>
        <div class="grid-item-2 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_2.png 1x, /images/gallery/desk_2@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_2.png 1x, /images/gallery/tab_2@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_2.png" alt="111" class="grid-img-2 grid-img" />
          </picture>
        </div>
        <div class="grid-item-3 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_3.png 1x, /images/gallery/desk_3@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_3.png 1x, /images/gallery/tab_3@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_3.png" alt="111" class="grid-img-3 grid-img" />
          </picture>
        </div>
        <div class="grid-item-4 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_4.png 1x, /images/gallery/desk_4@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_4.png 1x, /images/gallery/tab_4@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_4.png" alt="111" class="grid-img-4 grid-img" />
          </picture>
        </div>
        <div class="grid-item-5 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_5.png 1x, /images/gallery/desk_5@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_5.png 1x, /images/gallery/tab_5@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_5.png" alt="111" class="grid-img-5 grid-img" />
          </picture>
        </div>
        <div class="grid-item-6 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_6.png 1x, /images/gallery/desk_6@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_6.png 1x, /images/gallery/tab_6@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_6.png" alt="111" class="grid-img-6 grid-img" />
          </picture>
        </div>
        <div class="grid-item-7 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_7.png 1x, /images/gallery/desk_7@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_7.png 1x, /images/gallery/tab_7@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_7.png" alt="111" class="grid-img-7 grid-img" />
          </picture>
        </div>
        <div class="grid-item-8 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_8.png 1x, /images/gallery/desk_8@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_8.png 1x, /images/gallery/tab_8@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_8.png" alt="111" class="grid-img-8 grid-img" />
          </picture>
        </div>
        <div class="grid-item-9 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_9.png 1x, /images/gallery/desk_9@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_9.png 1x, /images/gallery/tab_9@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_9.png" alt="111" class="grid-img-9 grid-img" />
          </picture>
        </div>
        <div class="grid-item-10 grid-item">
          <picture>
            <source
              srcset="/images/gallery/desk_10.png 1x, /images/gallery/desk_10@2x.png 2x"
              media="(min-width: 1200px)"
            />
            <source
              srcset="/images/gallery/tab_10.png 1x, /images/gallery/tab_10@2x.png 2x"
              media="(min-width: 320px)"
            />
            <img src="/images/gallery/desk_10.png" alt="111" class="grid-img-10 grid-img" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
