<section class="products" id="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--cream">
        <div class="products__card products__card--cream">
          <h3 class="products__name">ice cream</h3>
          <p class="products__text" data-text>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button data-detalis-open type="button" class="button products__button">
            <svg width="15" height="15" class="products__icon">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <p class="products__detalis" data-detalis>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
            <span>
                <button data-detalis-close class="products__button--close" type="button">
                  &#10096;&#10096;&#10096;
                </button>
            </span>
          </p>
        </div>
      </li>
      <li class="products__item products__item--coffee">
        <div class="products__card products__card--coffee">
          <h3 class="products__name">ice coffee</h3>
          <p class="products__text" data-text2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button data-detalis-open2 type="button" class="button products__button">
            <svg width="15" height="15" class="products__icon">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <p class="products__detalis" data-detalis2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
              <span>
                <button data-detalis-close2 class="products__button--close" type="button">
                  &#10096;&#10096;&#10096;
                </button>
              </span>
          </p>
        </div>
      </li>
      <li class="products__item products__item--shakes">
        <div class="products__card products__card--shakes">
          <h3 class="products__name">milkshakes</h3>
          <p class="products__text" data-text3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button data-detalis-open3 type="button" class="button products__button">
            <svg width="15" height="15" class="products__icon">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
          <p class="products__detalis" data-detalis3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
              <span>
                <button data-detalis-close3 class="products__button--close" type="button">
                  &#10096;&#10096;&#10096;
                </button>
              </span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
