<section class="products">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item products__item--cream">
        <div class="products__card products__card--cream">
        <h3 class="products__name">ice cream</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
        aliqua facilisis.</p>
        <button class="button products__button">
          <svg width="15" height="15" class="products__icon">
            <use href="./images/products.svg#icon-arrow-right"></use>
          </svg>
        </button>
        </div>
      </li>
      <li class="products__item products__item--coffee">
        <div class="products__card products__card--coffee">
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.</p>
        <button class="button products__button">
          <svg width="15" height="15" class="products__icon">
            <use href="./images/products.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      </li>
      <li class="products__item products__item--shakes">
        <div class="products__card products__card--shakes">
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore
          magna aliqua facilisis.</p>
      <button class="button products__button">
        <svg width="15" height="15" class="products__icon">
          <use href="./images/products.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
      </li>
    </ul>
  </div>
</section>
