<section class="hero overlay">
  <div class="container hero__container">
    <div class="hero_wrap">
      <div class="hero_left">
        <div class="first_box">
          <h1 class="hero__title">
            ice cream made with
            <span>passion</span>
          </h1>
          <a href="#products" class="hero__button">Products</a>
          <a href="#about" class="hero__button hero__button_red">How it’s made?</a>
        </div>
        <div class="second_box">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="./images/hero/milk-188.png 1x, ./images/hero/milk-188@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width: 768px)"
              srcset="./images/hero/milk-124.png 1x, ./images/hero/milk-124@2x.png 2x"
              type="image/png"
            />
            <img src="./images/hero/milk-124.png" alt="Кувшин з молоком" />
          </picture>
          <div class="box-text-wrap">
            <!-- <p class="hero__text">
              Lorem ipsum dolor sit amet,<br />
              consectetur adipiscing elit, <br />
              sed do eiusmod tempor <br />
              incididunt ut labore et
            </p> -->
            
            <details>
              <summary class="hero__text--details">
                Lorem ipsum dolor sit amet,<br />
                consectetur adipiscing elit, <br />
                sed do eiusmod tempor <br />
                incididunt ut labore et
              </summary>
              <p class="hero__text">
                Lorem ipsum dolor sit amet,<br />
                consectetur adipiscing elit, <br />
                sed do eiusmod tempor <br />
                incididunt ut labore et
              <p>
            </details>
            <!-- <button class="hero__button-arrow" type="button" aria-label="read more button">
              <svg class="hero__svg">
                <use href="../src/images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button> -->
          </div>
        </div>
      </div>
      <picture class="hero__img">
        <source
          media="(min-width: 1200px)"
          srcset="./images/hero/ice-cream-236.png 1x, ./images/hero/ice-cream-236@2x.png 2x"
          type="image/png"
        />

        <source
          media="(min-width: 768px)"
          srcset="./images/hero/ice-cream-143.png 1x, ./images/hero/ice-cream-143@2x.png 2x"
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="./images/hero/ice-cream-171.png 1x, ./images/hero/ice-cream-171@2x.png 2x"
          type="image/png"
        />
        <img src="./images/hero/ice-cream-171.png" alt="ріжок морозива" />
      </picture>
      <div class="hero_right">
        <div class="right_first_box">
          <div class="white-elipse-first">
            <div class="box">
              <p class="box__number">16</p>
              <p class="box__text">cafes</p>
            </div>
          </div>
          <div class="white-elipse-second">
            <div class="box">
              <p class="box__number">23</p>
              <p class="box__text">food trucks</p>
            </div>
          </div>
        </div>
        <div class="right_second_box">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="./images/hero/tasty-293.png 1x, ./images/hero/tasty-293@2x.png 2x"
              type="image/png"
            />

            <source
              media="(min-width:768px)"
              srcset="./images/hero/tasty-168.png 1x, ./images/hero/tasty-168@2x.png 2x"
              type="image/png"
            />
            <img src="./images/hero/tasty-168.png" alt="Дівчина з морозивом" />
          </picture>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="topbutton">Up<span>^</span></a>
</section>
