<section class="gallery">
  <div class="container">
    <div class="grid">
      <div class="grid-items">
        <div class="grid-item-1">
          <img src="/images/gallery/desk_1.png" alt="111" class="grid-img-1 grid-img" />
        </div>
        <div class="grid-item-2 grid-item">
          <img src="/images/gallery/desk_2.png" alt="111" class="grid-img-2 grid-img" />
        </div>
        <div class="grid-item-3 grid-item">
          <img src="/images/gallery/desk_3.png" alt="111" class="grid-img-3 grid-img" />
        </div>
        <div class="grid-item-4 grid-item">
          <img src="/images/gallery/desk_4.png" alt="111" class="grid-img-4 grid-img" />
        </div>
        <div class="grid-item-5 grid-item">
          <img src="/images/gallery/desk_5.png" alt="111" class="grid-img-5 grid-img" />
        </div>
        <div class="grid-item-6 grid-item">
          <img src="/images/gallery/desk_6.png" alt="111" class="grid-img-6 grid-img" />
        </div>
        <div class="grid-item-7 grid-item">
          <img src="/images/gallery/desk_7.png" alt="111" class="grid-img-7 grid-img" />
        </div>
        <div class="grid-item-8 grid-item">
          <img src="/images/gallery/desk_8.png" alt="111" class="grid-img-8 grid-img" />
        </div>
        <div class="grid-item-9 grid-item">
          <img src="/images/gallery/desk_9.png" alt="111" class="grid-img-9 grid-img" />
        </div>
        <div class="grid-item-10 grid-item">
          <img src="/images/gallery/desk_10.png" alt="111" class="grid-img-10 grid-img" />
        </div>
      </div>
    </div>
  </div>
</section>
