<section class="reviews">
  <title class="visually-hidden">Customer Reviews</title>
  <div class="container slideshow-container">
    <div class="slide fade">
    <img class="reviews__img" 
   srcset="./images/reviews/reviews-1-85.png 1x, ./images/reviews/reviews-1-85@2x.png 2x"
   src="./images/reviews/reviews-1-85.png"
    alt="Customer`s photo" width="85px" height="85px">
    <div class="feedback">
      <div class="feedback__wrap">
    <p class="feedback__text">The best ice cream we've ever tasted. For the second year in a row, you are our favorite for children's celebrations. There is no better cake than ice cream cake. Children and parents are always delighted. I recommend.</p>
  </div>
  </div>
  <p class="reviews-meta__text">Emily, Los Angeles</p> 
    </div>
  <div class="slide fade">
    <img class="reviews__img" 
   srcset="./images/reviews/reviews-2-85.png 1x, ./images/reviews/reviews-2-85@2x.png 2x"
   src="./images/reviews/reviews-2-85.png"
    alt="Customer`s photo" width="85px" height="85px">
    <div class="feedback">
      <div class="feedback__wrap">
    <p class="feedback__text">Extremely tasty, natural ice cream with exquisite taste!!! Having tried it once, we always buy and enjoy the delicacy !!!</p>
  </div>
  </div>
  <p class="reviews-meta__text">Crystall, Houston</p> 
  </div>
  <div class="slide fade">
    <img class="reviews__img" 
   srcset="./images/reviews/reviews-3-85.png 1x, ./images/reviews/reviews-3-85@2x.png 2x"
   src="./images/reviews/reviews-3-85.png"
    alt="Customer`s photo" width="85px" height="85px">
    <div class="feedback">
      <div class="feedback__wrap">
    <p class="feedback__text">Congratulations! The family could not choose one taste, so they chose several. Very tasty, and most importantly - natural! Definitely, we will order more! Thanks!!!</p>
  </div>
  </div>
  <p class="reviews-meta__text">Amanda, New York</p> 
  </div>
  <ul class="marker-list">
    <li class="marker-list__item"><div class="marker"></div></li>
    <li class="marker-list__item"><div class="marker"></div></li>
    <li class="marker-list__item"><div class="marker"></div></li>
  </ul>
  </div>
</section>
