<section class="advantages">
  <div class="container">
    <h2 hidden>advantages</h2>
    <ul class="advantages__list">
          <li class="advantages__item">
         
            <p class="advantages__number advantages__number--ice">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantages__number advantages__number--apple">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__item">
            <p class="advantages__number advantages__number--heart">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
  </div>
</section>
