<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <!-- <picture>
      <source
        srcset="/images/gallery/gallery_desktop1x.png 1x, /images/gallery/gallery_desktop2x.png 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="/images/gallery/gallery_tablet1x.png 1x, /images/gallery/gallery_tablet2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/images/gallery/gallery_mob1x.png 1x, /images/gallery/gallery_mob2x.png 2x"
        media="(min-width: 320px)"
      />
      <img class="photo" src="/images/gallery/gallery_desktop2x.png" alt="Photo gallery" />
    </picture> -->
    <picture>
      <source
        srcset="
          /images/gallery/gallery_desktop-1280.jpg    1x,
          /images/gallery/gallery_desktop-1280@2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /images/gallery/gallery_tablet-768.jpg    1x,
          /images/gallery/gallery_tablet-768@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="/images/gallery/gallery_mob-364.png 1x, /images/gallery/gallery_mob-364@2x.png 2x"
        media="(min-width: 320px)"
      />
      <img class="photo" src="/images/gallery/gallery_desktop2x.png" alt="Photo gallery" />
    </picture>
  </div>
</section>
