
       .advantages{
        margin-top: 39px;
        margin-bottom: 43px;
        @media screen and (min-width: 768px){
            margin-top: 44px;
            margin-bottom: 70px;    
        }
       
       }
       @media screen and (min-width: 768px){
           .advantages__list{
            display: flex;
            margin: -30px;
           }
       }
       .advantages__item{
           margin-bottom: 37px;
           @media screen and (min-width: 768px){
            width: calc(100% / 3 - 60px);
            margin: 15px;
           }

        &:last-child
        {
            @media screen and (max-width: 767px){
            margin-bottom: 0;}
        }
       }
       .advantages__number{
        margin-bottom: 30px;
        color:  var(--text-secondary-color);
    	@include font(36px, 41px, 0.04em, 400, var(--font-secondary));
	    text-transform: uppercase;
        margin-top: 0;
        @media screen and (min-width: 768px){
            margin-top: 0;
            @include font(48px, 55px, 0.04em, 400, var(--font-secondary));
            margin-bottom: 13px;
        }
                   
           
            &::before{
            content: "";
            display: block;
            background-size: contain;
            height: 50px;
            margin-bottom: 16px;
            @media screen and (min-width: 768px){
                margin-bottom: 36px;
            }
        }

            &--ice::before{
                background-image: url(../images/advantages/advantages-1-33.png);
                width: 33px;
            
                 
            }
           
            &--apple::before{
               
                width: 50px;
                background-image: url(../images/advantages/advantages-2-50.png);
                   
            }
            &--heart::before{
                content: "";
                display: block;
                background-size: contain;
                height: 50px;
                background-image: url(../images/advantages/advantages-3-44.png);
                width: 44px;
            }
        
    }
         
        .advantages__text{
        color: var(--text-content-primary-color);
        @include font(12px, 20px, 0.04em, 700, var(--font-primary));
        display: block;
        max-width: 230px;
        margin-top: 0;
        @media screen and (min-width: 768px){
            @include font(14px, 24px, 0.04em, 700, var(--font-primary));   
        }
        }


    