.gallery {
    background-image: linear-gradient(to bottom,
            var(--bg-secondary-color) 0,
            var(--bg-primary-color) 100%);
}

.photo {
    margin-right: auto;
    margin-left: auto;
}