// ==================SCROLL-LOCK==================================================================================================
body.lock {
	overflow: hidden;
	&_modal {
		overflow: hidden;
	}
}
// ==================HEADER=====================================================================================
.header {
	position: absolute;
	width: 100%;
	z-index: 5;
}
.header__wrap {
	@include flex-position($d: flex, $ai: center, $jc: space-between);
	position: relative;
}
.header__logo {
	padding: 8px 0px;
}
.header__nav {
	display: none;
}
.header__block-side {
	position: relative;
}
.header__open-burger {
	position: absolute;
	top: 50%;
	right: -10px;
	border: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: transparent;
	fill: var(--text-secondary-color);
	transform: translateY(-50%);
	transition: fill 250ms var(--primary-cubic-bezier);
	&:hover,
	&:focus {
		fill: var(--text-primary-color);
	} 
}
.buy-now-button {
	display: none;
}
// ======================MOBIL-MENU=====================================================================================
.mob-menu {
	position: fixed;	
	background: rgba(252, 45, 96, 0.2);
	width: 100vw;
	height: 100vh;
	top: 0px;
	right: -100%;
	transition: all 0.5s ease 0s;
	&.active {
		right: 0;
	}
}
.mob-menu__wrap {
	background-color: var(--bg-menu-color);
	width: 250px;
	height: 100vh;
	margin-left: auto;
	padding: 20px 20px;
	overflow: auto;
}
.header__close-burger {
	position: absolute;
	z-index: 4;
	top: 10px;
	right: 7px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	display: block;
	margin-left: auto;
	fill: var(--text-primary-color);
	transition: fill 250ms var(--primary-cubic-bezier);
	&:hover,
	&:focus {
		fill: var(--btn-bg-hover-secondary-color);
	} 
}
.header__button {
	@include font(16px, 21px, null, 700, var(--font-primary));
	color: var(--text-secondary-color);
	background: var(--bg-primary-color);
	border-radius: 22px;
	border: 0;
	transition: background-color 250ms var(--primary-cubic-bezier);
	position: relative;
	&:hover,
	&:focus {
		background-color: var(--btn-bg-hover-primary-color);
	} 
}
.mob-menu__button {
	margin-top: 40px;
	padding: 12px 47px 12px 62px;
}
.mob-menu__buy-icon {
	margin-left: 28px;
}
.mob-menu__list {
	margin-top: 20px;
}
.mob-menu__item {
	padding: 14px 0;
	position: relative;
}
.mob-menu__link {
	@include font(14px, 18px, null, 700, var(--font-primary));
	color: var(--text-primary-color);
	padding: 14px 0px;
	transition: color 250ms var(--primary-cubic-bezier);
	&::after {
		content: "";
		position: absolute;
		width: 250px;
		top: 0;
		left: 0;
		border-top: 1px solid var(--bg-item-menu-color);
		transform: translateX(-20px);
	}
	&::before {
		content: "";
		position: absolute;
		width: 250px;
		bottom: -1px;
		left: 0;
		border-bottom: 1px solid var(--bg-item-menu-color);
		transform: translateX(-20px);
	}
	&:hover,
	&:focus {
		color: var(--text-secondary-color);
	} 
}
// ======================UP-BUTTON========================================================================================
.topbutton {
	width: 60px;
	height: 60px;
	@include flex-position(flex, center, center);
	position:fixed;
	z-index: 1;
	bottom: 10px;
	right: 10px;
	cursor:pointer;
	color: var(--bg-hero-primary-color);
	@include font(26px, 29.77px, 0.04em, 400, var(--font-secondary));
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	& span {
		@include font(20px, 29.77px, 0.04em, 400, var(--font-primary));
	}
}
// ===========================MODAL-MENU===========================================================================================
.backdrop {
	display: none;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: -100vw;
	background: rgba(51, 0, 28, 0.2);
	position: fixed;
	transition: all 0.5s ease 0s;
	overflow: auto;
	&.open {
		left: 0;
	}
}
.modal {
	min-height: 81px;
	background: var(--bg-hero-primary-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	position: absolute;
	z-index: 8;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 25px;
}
.modal__btn {
	position: absolute;
	top: 10px;
	right: 7px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 0;
	background-color: transparent;
	display: block;
	margin-left: auto;
	fill: var(--text-primary-color);
	transition: fill 250ms var(--primary-cubic-bezier);
	&:hover,
	&:focus {
		fill: var(--btn-bg-hover-secondary-color);
	} 
}
.modal__field {
	width: 200px;
	@include font(14px, 18px, 0.09em, 700, var(--font-primary));
	color: var(--text-secondary-color);
	border: 2px solid rgba(247, 88, 154, 0.6);
	border-radius: 20px;
	& + & {
		margin-top: 10px;
	}
}
.modal__titl {
	@include font(16px, 18px, 0.09em, 700, var(--font-primary));
	color: var(--text-primary-color);
	text-align: center
}
.modal__box {
	@include flex-position(flex, center, space-around); 
	& + & {
		margin-top: 20px;
	}	
}
.modal__wrap {
	height: 65px;
	& input {
		margin: 0;
		padding: 5px 5px 5px 10px;
		border-radius: 4px;
		border: 2px solid rgba(247, 88, 154, 0.6);
	}
}
.modal__form-wrap {
	margin-bottom: 20px;
}
.modal__button {
	@include flex-position(flex, center, center); 
}
.modal__sunmit {
	padding: 8px 20px;
}
// ============================TABLET========================================================================================	
@include min-media (768px) {
	.header__logo {
		padding: 32px 0px;
	}
	.mob-menu__wrap_tab {
		display: block;
		margin: 0;
	}
	.header__block-side {
		display: flex;
		align-items: center;
	}
	.buy-now-button {
		display: block;
		padding: 12px 36px 12px 40px;
	}
	.header__open-burger {
		margin-right: 192px;
		right: 0;
	}
	.mob-menu__wrap {
		width: 254px;
	}
	.mob-menu__button {
		display: block;
		margin-left: auto;
		padding: 12px 42px 12px 51px;
	}
	.header__buy-icon {
		margin-left: 12px;
	}
	.mob-menu__buy-icon {
		margin-left: 21px;
	}
	.mob-menu__link {
		&::before,
		&::after {
			width: 254px;
		}
	}
	.topbutton {
		width: 70px;
		height: 70px;
		bottom: 30px;
		right: 30px;
	}
	.modal {
		width: 550px;
		background: rgba(253, 160, 183, 0.6);
		top: 50%;
		transform: translate(-50%, -50%);
	}	
	.modal__form-wrap {
		@include flex-position(flex, center, space-around); 
	}
	.modal__field {
		& + & {
			margin-top: 0;
		}
	}
}
// =============================DESKTOP=================================================================================
@include min-media (1200px) {
	body.lock {
		overflow: auto;
	}
	.header__nav {
		display: block;
	} 
	.nav__list {
		display: flex;
	}
	.nav__item {
		& + & {
			margin-left: 35px;
		}
	}
	.nav__link {
		@include font(16px, 21px, null, 700, var(--font-primary));
		color: var(--text-primary-color);
		transition: color 250ms var(--primary-cubic-bezier);
		&:hover,
		&:focus {
			color: var(--text-secondary-color);
		} 
	}
	.header__open-burger {
		display: none;
	}
	.mob-menu {
		display: none;
	}
	.topbutton {
		bottom: 50px;
		right: 50px;
	}
}
// =================EXTRA================================================================================================
.current {
	color: var(--text-secondary-color);
}
.hidde {
	display: none;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}