.overlay {
	height: 500px;
    overflow: hidden;
	width: 100vw;
	background-color: var(--bg-hero-primary-color);
}
.hero__container {
	position: relative;
	z-index: 2;
}
.hero__wrap {
	padding: 194px 0px 202px 20px;

	@media screen and (min-width: 768px) {
		display: flex;
	}
}
.hero__title {
	width: 218px;
	margin-bottom: 24px;
	color: var(--text-primary-color);
	@include font(26px, 29.77px, 0.04em, 400, var(--font-secondary));
	text-transform: uppercase;
	& span {
		color: var(--text-secondary-color);
		@include font(48px, 46.32px, null, 400, var(--font-secondary))
	}
	&::after {
		content: " ";
		position: absolute;
		z-index: -2;
		width: 346px;
		height: 344px;
		top: 0px;
		left: 0px;
		transform: translate(18%, 22%);
		border-radius: 50%;
		background-color: var(--bg-hero-secondary-color);
	}
}
.hero__button {
	@include font(8px, 10px, null, 400, var(--font-primary));
	color: var(--text-primary-color);
	padding: 8px 15px;
	background: var(--btn-bg-secondary-color);
	border-radius: 20px;
	transition: background-color 250ms var(--primary-cubic-bezier);
	& + & {
		margin-left: 8px;
	}
	&:hover,
	&:focus {
		background-color: var(--btn-bg-hover-secondary-color);	
	}
	&_red {
		color: var(--text-secondary-color);
		background-color: var(--bg-primary-color);
	}
	&_red:hover,
	&_red:focus {
		background-color: var(--btn-bg-hover-primary-color);	
	}
}
.hero__img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	transform: translate(80%, 22%);
}

.second_box {
	display: flex;
}

.hero__button-arrow {
	cursor: pointer;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 0;
	margin-top: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #d41443;
	background: #fff;
	transition-property: transform;
	transition-duration: .25s;
	transition-timing-function: cubic-bezier(.6, -.28, .735, .045);
	}

	.hero__svg {
		height: 5px;
		width: 5px;
	}