.products{
    padding-top: 120px;
    padding-bottom: 100px;

    @include min-media($tablet) {
        padding-top: 122px;
        padding-bottom: 112px;
    }

    @include min-media($desktop) {
        padding-top: 127px;
        padding-bottom: 119px;
    
    }


    &__pre-title{
        margin-bottom: 15px;

        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-align: center;
        text-transform: uppercase;
        color: var(--text-before-title-color);

        @include min-media($tablet) {
            font-size: 26px;
            line-height: 1.15;
        }

        @include min-media($desktop){
        font-size: 30px;
        line-height: 1.14;
        letter-spacing: 0.04em;
        }
    }


    &__title{
        margin-bottom: 30px;

        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 34px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--text-secondary-color);

        @include min-media($tablet) {
            margin-bottom: 45px;
        
            font-size: 48px;
            line-height: 1.15;
            letter-spacing: 0.04em;
        }

        @include min-media($desktop) {
            margin-bottom: 50px;

            font-size: 58px;
            line-height: 1.14;
            letter-spacing: 0.06em;
        }
    }

    &__list{
        @include min-media($tablet) {
            @include flex-position($ai: flex-start);
        }
    }


    &__item{
        padding-top: 113px;
        position: relative;

        @include min-media($tablet) {
            padding-top: 105px;
            flex-basis: calc((100% - 2 * 20px) / 3);
        }

        @include min-media($desktop) {
            padding-top: 210px;
            flex-basis: calc((100% - 4 * 25.75px) / 3);
        }
    }


    &__item:not(:last-child) {
        margin-bottom: 16px;

        @include min-media($tablet) {
            margin-bottom: 0;
            margin-right: 20px;
        }

        @include min-media($desktop) {
            margin-right: 25.75px;
        }
    }

    
    &__item--cream::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    
        min-width: 249px;
        min-height: 252px;
    
        content: "";
        background-image: url("../images/products/product-1-249.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/product-1-249@2x.png");
        }

        @include min-media($tablet) {
        min-width: 220px;
        min-height: 226px;
        background-image: url("../images/products/product-1-220.png");
        
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/product-1-220@2x.png");
        }
    }

        @include min-media($desktop) {
            min-width: 335px;
            min-height: 335px;
            background-image: url("../images/products/product-1-335.png");
        
        
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/product-1-335@2x.png");
        }
    }
    }
    
    
&__item--coffee::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    min-width: 249px;
    min-height: 252px;

    content: "";
    background-image: url("../images/products/product-2-249.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/products/product-2-249@2x.png");
    }

    @include min-media($tablet) {
        min-width: 220px;
        min-height: 226px;
        background-image: url("../images/products/product-2-220.png");
    
    
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/products/product-2-220@2x.png");
    }
}
    
    @include min-media($desktop) {
        min-width: 335px;
        min-height: 335px;
        background-image: url("../images/products/product-2-335.png");
    
    
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url("../images/products/product-2-335@2x.png");
    }
}
}
 
    
    &__item--shakes::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    
        min-width: 249px;
        min-height: 252px;
    
        content: "";
        background-image: url("../images/products/product-3-249.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/product-3-249@2x.png");
        }

        @include min-media($tablet) {
            min-width: 220px;
            min-height: 226px;
            background-image: url("../images/products/product-3-220.png");
        
        
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/product-3-220@2x.png");
        }
    }
        
        @include min-media($desktop) {
            min-width: 335px;
            min-height: 335px;
            background-image: url("../images/products/product-3-335.png");
        
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/products/product-3-335@2x.png");
        }
    }
    }


    &__card{
        display: block;
        text-align: center;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 160px;
        
        border-radius: 24px;

        @include min-media($tablet){
            padding-right: 11px;
            padding-left: 11px;
            padding-top: 150px;
        }

        @include min-media($desktop) {
            padding-right: 44px;
            padding-left: 44px;
            padding-top: 163px;
        }
    }


    &__card--cream{
        background-color: var(--bg-product1-color);
    }


    &__card--coffee{
        background-color: var(--bg-product2-color);
    }


    &__card--shakes{
        background-color: var(--bg-product3-color);
    }
    

    &__name{
        margin-bottom: 30px;

        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        
        color: var(--text-primary-color);

            @include min-media($desktop) {
                font-size: 30px;
                line-height: 1.13;
            }
    }


    &__text{
        position: relative;
        margin-bottom: 30px;
        padding-top: 30px;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.52;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--text-primary-color);

        @include min-media($tablet) {
            margin-bottom: 40px;
            line-height: 1.76;  
        }
        
        @include min-media($desktop) {
            margin-bottom: 60px;
            font-size: 16px;  
        }

        &.margin{
            margin-bottom: 0;
        }

    }


    &__text::before{
        content: '...';
        display: inline-block;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%) translateY(-37px);
        font-size: 37px;
        color: var(--text-primary-color);
    }



    &__button{
        display: inline-flex;
        width: 40px;
        height: 40px;
        padding: 0;
        margin-bottom: 40px;
        align-items: center;
        justify-content: center;
        background-color: var(--btn-bg-primary-color);
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);

        @include min-media($desktop) {
            margin-bottom: 50px;
        }
        &.is-open{
            display: none;
        }
    }


    &__icon{
        fill: var(--text-secondary-color);
    }

}

.products__detalis{
    display: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--text-primary-color);

    @include min-media($tablet) {
        line-height: 1.76;
    }
    
    @include min-media($desktop) {
        font-size: 16px;
    }

    &.is-open{
    display: block;
    padding-bottom: 30px;
    }
 
}


.products__detalis--icon{
    font-size: 12px;
    color: var(--text-secondary-color);
}